/*-- scss:defaults --*/
$web-font-path: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,300;1,500&family=Outfit:wght@200;400;500;700&display=swap";

$font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-heading: Outfit, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*-- scss:rules --*/
:root {
  --bs-font-family-heading: #{$font-family-heading};
  --font-outfit: #{$font-family-heading};
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 1.66em;
  margin-bottom: 0.66em;
}

.navbar-title, .navbar-nav .nav-item {
  font-family: $font-family-heading;
  font-weight: 400;
  letter-spacing: 1px;
}

.navbar-title small {
  font-size: 60%;
}

.navbar-brand-logo img {
  max-height: 37px;
  margin-right: 6px;
}

.sidebar-item {
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.5rem;
}

#quarto-header .navbar .nav-link .menu-text {
  position: relative;
}

#quarto-header .navbar .nav-link .menu-text::after {
  height: 0.1rem;
  width: 0%;
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  transition: width 200ms ease-in-out;
}

#quarto-header .navbar .nav-link.active .menu-text::after {
  background-color: var(--red-50);
  width: 100%;
}

#quarto-content {
  max-width: 100vw !important;
  width: 100vw !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.quarto-about-trestles {
  align-items: center;

  @include media-breakpoint-up(lg) {
    .about-entity {
      padding-right: 1.5em;
    }
  }

  @include media-breakpoint-down(lg) {
    .about-entity {
      padding-right: 0;
    }
  }
}

main.content img {
  max-width: 100%;
}

/* allow category tags to wrap with a little breathing room */
.quarto-title .quarto-categories {
	flex-wrap: wrap;
	gap: 0.4em;
}

.lead {
	margin-bottom: 2rem;
}

.nowrap {
	white-space: nowrap;
}

footer {
  a {
    text-decoration: none;
  }
  .nav-footer-left, .nav-footer-right {
    min-height: 3rem;
  }
}

kbd {
  font-size: 0.7rem;
  padding: 0.2em 0.6em;
  border: 1px solid $dropdown-border-color;
  font-family: $font-family-monospace;
  background-color: $code-bg;
  color: $body-color;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 1px $body-color inset;
  box-shadow: 0 1px 0px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px $body-color inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.2em;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: 1px;
}

figcaption {
  padding-right: 1rem;
  color: var(--bs-tertiary-color);
  text-align: right;
}

.code-with-filename > div {
  border: 1px solid var(--quarto-border-color);
  padding: 0.66rem;
}

pre > code,
.code-with-filename-file strong {
  color: var(--bs-body-color);
}

.quarto-listing-cols-3 {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 0.75em;
}

.card h5 {
  margin-top: 0.75em;
}

.card {
  --bs-card-spacer-y: 0.75rem;  /* vertical padding inside card */
  --bs-card-spacer-x: 0.75rem;  /* horizontal padding inside card */
}

.card-body {
  padding: 0.75rem;
}

.card-img {
  text-align: center !important;
  padding: 0.75rem;
}

.card-img-top {
  text-align: center;
}
.card-img-top img {
  display: inline-block;
}

img.thumbnail-image.card-img {
  height: 120px !important;   /* or your preferred height */
  width: auto !important;     /* maintain aspect ratio */
  object-fit: unset !important; /* disables cover/crop effect */
}

.articleCategory {
  font-size: 15px;
  line-height: 35px;
  padding-left: 33px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 1.2em; /* Not padding so icons align w/ text */
  line-height: 1.2rem;
}

.quarto-listing-category .category {
  display: none !important;
}

/* "All" category (example: fa-list) */
.quarto-listing-category .category[data-category=""] {
  display: none !important;
}

/* deep-dive */
.quarto-listing-category .category[data-category="ZGVlcC1kaXZl="] {
  display: flex !important; /* or block/inline-block, whatever fits your styling */
  align-items: center;
}
.quarto-listing-category .category[data-category="ZGVlcC1kaXZl="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002"; /* fa-magnifying glass */
  margin-right: 0.5em;
  display: inline-block;
}

.listing-category[onclick*="ZGVlcC1kaXZl="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002"; 
  margin-right: 0.5em;
  display: inline-block;
}

.quarto-category a[href*="category=deep-dive"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002"; /* fa-magnifying glass */
  margin-right: 0.4em;
  display: inline-block;
}

div.quarto-post .listing-categories .listing-category[onclick*="ZGVlcC1kaXZl="] {
    border-color: #4896a1;
    color: #0e6876;
    background-color: #bed9de;
}

/* fims-weekly */
.quarto-listing-category .category[data-category="Zmltcy13ZWVrbHk="] {
  display: flex !important; /* or block/inline-block, whatever fits your styling */
  align-items: center;
}

.quarto-listing-category .category[data-category="Zmltcy13ZWVrbHk="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1ea"; /* fa-newpaper */
  margin-right: 0.5em;
  display: inline-block;
}

.listing-category[onclick*="Zmltcy13ZWVrbHk="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1ea";
  margin-right: 0.5em;
  display: inline-block;
}

.quarto-category a[href*="category=fims-weekly"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1ea"; /* fa-newspaper */
  margin-right: 0.4em;
  display: inline-block;
}

div.quarto-post .listing-categories .listing-category[onclick*="Zmltcy13ZWVrbHk="] {
    border-color: #4896a1;
    color: #0e6876;
    background-color: #bed9de;
}

/* learn */
.quarto-listing-category .category[data-category="bGVhcm4="] {
  display: flex !important; /* or block/inline-block, whatever fits your styling */
  align-items: center;
}

.quarto-listing-category .category[data-category="bGVhcm4="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f19d"; /* fa-graduation cap */
  margin-right: 0.5em;
  display: inline-block;
}

.listing-category[onclick*="bGVhcm4="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f19d"; 
  margin-right: 0.5em;
  display: inline-block;
}

.quarto-category a[href*="category=learn"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f19d"; /* fa-graduation-cap */
  margin-right: 0.4em;
  display: inline-block;
}

div.quarto-post .listing-categories .listing-category[onclick*="bGVhcm4="] {
    border-color: #4896a1;
    color: #0e6876;
    background-color: #bed9de;
}

/* other */
.quarto-listing-category .category[data-category="b3RoZXI="] {
  display: flex !important; /* or block/inline-block, whatever fits your styling */
  align-items: center;
}

.quarto-listing-category .category[data-category="b3RoZXI="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111"; /* fa-circle */
  margin-right: 0.5em;
  display: inline-block;
}

.listing-category[onclick*="b3RoZXI="]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111"; 
  margin-right: 0.5em;
  display: inline-block;
}

.quarto-category a[href*="category=other"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111"; /* fa-circle */
  margin-right: 0.4em;
  display: inline-block;
}

div.quarto-post .listing-categories .listing-category[onclick*="b3RoZXI="] {
    border-color: #4896a1;
    color: #0e6876;
    background-color: #bed9de;
}

div.quarto-post {
    gap: 1em;       /* Or 0.5em for even closer */
}

div.quarto-post .metadata {
    flex-basis: 10%;       /* Try 10% or even 0 if you want it to size to fit */
    min-width: 3em;        /* Optional: ensure it doesn't get too tiny */
}
